body {

    background-color: #14274e;
    font-family: 'Segoe UI';
    
    }
    
    nav{
    
       float: right;
       position: relative;
       right:140px;
       font-size: 23px;
       top:-80px;


    
    }
    
    #inicio{
        margin-right: 15px;
        padding-bottom: 20px;
    }
    
    #proyectos{
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 20px;
    }
    
    #contacto{
        margin-left: 15px;
        padding-bottom: 20px;
    }
    
    
    a,a:hover,p{
    
        color:#F1F6F9;
     
    }
    #nombre{
        font-size: 40px;
        margin-left: 220px;
        margin-top: -445px;
    
     }
     #profesion{
        margin-left: 220px;
        margin-top: -50px;
     }
    #logo
    {
        width: 480px;
        height: 480px;
        margin-left: -20px;
        margin-top: 30px;
    }
    h1{
        color:#F1F6F9;
        margin-left: 180px;
        margin-top: 110px;
        font-size: 62px;
        position: relative;
    }
    #sobremi{
        color:#F1F6F9;
        margin-top: 70px;
        margin-left: 180px;
        margin-right: 170px;
        font-size: 18px;
    }
    
    #botoncito{
        color: #F1F6F9;
        background-color: #9BA4B4;
        margin-top: 70px;
        margin-left: 180px;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #14274ed7;
        width: 200px;
        height: 50px;
    }
    #botoncito a:hover{
        text-decoration: none;
    }
    
    #titulo{
        margin-left: 180px;
        margin-top: 73px;
    }
    #lista {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 125px;
    }
    #lista a {
        margin-left: 82px;
        margin-right: 82px;
        height:225px;
        width:310px;
    
    }
    
    #lista #mipagina img, #lista #bootstrap img{  
        height:225px;
        width:310px;
        border: 3px #f1f6f971 solid;
        border-radius: 7px;
        }
     
    #lista p{
        color: #9BA4B4;
    }
    #lista a:hover{
        text-decoration: none;
    
    }
    #lista a #continuara{
        height:225px;
        width:310px;
        border: 3px #f1f6f971 solid;
        border-radius: 7px;
        background-color: #9ba4b431;
    }
    #lista #continuara img{
        height:65px;
        width:65px;
        margin-top: 75px;
    
    }
    #lista #continuara p{
        margin-top: 82px;
    
    }
    #formulario{
        margin-top: 30px;
        margin-left: 165px;
    }
    .form-control {
        display: block;
        width: 69%;
        padding: .95px .75rem;
        color: #F1F6F9;
        background-color: #9BA4B4;
        border: 1px solid #9BA4B4;
        border-radius: 2px;
    }
    textarea{
        background-color: #9BA4B4;
        border: 1px solid #9BA4B4;
        border-radius: 2px;
    }
    label{
        color: #F1F6F9;
    }
    #botonFormulario{
        color: #F1F6F9;
        background-color: #394867;
        border: 1px solid #707070;
        border-radius: 5px;
        float: right;
        margin-right: 337px;
        width: 180px;
        height: 42px;
    }
    #textoArea{
        width: 960px;
        height: 230px;
     }
     .icons{
        width: 140px;
        height: 140px;
        margin-left: 1010px;
        margin-top: -80px;

    }
    ul{
        list-style: none;
    }

/* Móvil ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .navbar{
        display: none;
    }
    #iconos{
     margin-left: 150px;
     text-align: center;
     font-size: 23px;

    }
    #home{
        width: 180px;
        height: 180px;
    }
    #libro{
        width: 180px;
        height: 180px;
        margin-left: 80px;
        margin-right: 80px;
    }
    #contacto{
        width: 180px;
        height: 180px;  
    }

    h1{

        margin-left: 120px;
        margin-top: 110px;
        font-size: 65px;

    }
    #nombre{
        font-size: 70px;
        margin-left: 330px;
        margin-top: -638px;
    
     }
     #profesion{
        font-size: 30px;
        margin-left: 330px;
        margin-top: -50px;
     }
    #logo
        {
            width: 680px;
            height: 680px;
            margin-left: -20px;
            margin-top: 180px;
        }
     #titulo{
        margin-left: 210px;
        margin-top: 73px;
        font-size: 130px;
    }
    #sobremi{
        margin-top: 70px;
        margin-left: 120px;
        margin-right: 100px;
        font-size: 33px;
    }
    #botoncito{
        margin-top: 70px;
        margin-left: 120px;
        font-size: 33px;
        width: 350px;
        height: 110px;
    }
    #lista a{
        margin-bottom: 325px;
        width: 350px;
        margin-right: 210px;
        font-size: 33px;
        }
        #lista a #continuara{
          margin-left: 15px;
          height:425px;
          width:510px;
      }
      #lista #mipagina img, #lista #bootstrap img{  
        height:425px;
        width:510px;

        }
        #lista #continuara img{
            height:165px;
            width:165px;
            margin-top: 130px;
        
        }
        #lista #continuara p{
            margin-top: 132px;
            margin-right: 0px;
        
        }
        #lista p{
            margin-left: 20px;
            margin-right: -140px;
        }
      
    #formulario{
        margin-top: 100px;
        font-size: 40px;
    }
    .form-control {
        width: 100%;
        height: 80px;
    }
    #botonFormulario{
        margin-right: 0px;
        width: 312px;
        height: 90px;
    } 
     #textoArea{
        width: 690px;
        height: 230px;
     }
     .icons{
        width: 140px;
        height: 140px;
        margin-left: 710px;
        display: table-row;
   


    }


}

/* Tablet  ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.row{
    display: none;
}
    
    nav{
        right:50px;
         
     }
     h1{

        margin-left: 160px;
        margin-top: 110px;
        font-size: 45px;

    }
    #nombre{
        font-size: 40px;
        margin-left: 170px;
        margin-top: -358px;
    
     }
     #profesion{
        margin-left: 180px;
        margin-top: -50px;
     }
    #logo
        {
            width: 380px;
            height: 380px;
            margin-left: -20px;
            margin-top: 30px;
        }
     #titulo{
        margin-left: 160px;
        margin-top: 73px;
    }
    #lista a{
        margin-bottom: 75px;
          width: 350px;
        }
        #lista a #continuara{
          margin-left: 15px;
      }
      
    #formulario{
        margin-top: 100px;
    }
    .form-control {

        width: 52%;

    }
    #botonFormulario{
        margin-right: 329px;
        width: 160px;
        height: 32px;
    } 
     #textoArea{
        width: 360px;
        height: 130px;
     }
     .icons{
        width: 140px;
        height: 140px;
        margin-left: 710px;
        margin-top: -100px;

    }

}

@media only screen 
and (min-width : 1024px) {
    .row{
        display: none;
    }
    nav{

        right:50px;
         
     }
     
     #titulo{
        margin-left: 160px;
        margin-top: 73px;
    }
     #lista a{
        margin-bottom: 75px;
        width: 350px;
      }
      #lista a #continuara{
        margin-left: 15px;
    }
    #formulario{
        margin-top: 0px;
    }
    .form-control {

        width: 39%;

    }
    #botonFormulario{
        margin-right: 569px;
        width: 160px;
        height: 32px;
    } 
     #textoArea{
        width: 360px;
        height: 130px;
     }
     .icons{
        width: 120px;
        height: 120px;
        margin-left: 700px;
        margin-top: -60px;

    }
}


/* Ordenador ----------- */
@media only screen 
and (min-width : 1224px) {
    .row{
        display: none;
    }
    body {

        background-color: #14274e;
        
        }
      
        nav{
        
           float: right;
           position: relative;
           right:140px;
           font-size: 23px;
           top:-80px;
            
        }
        
        #inicio{
            margin-right: 15px;
            padding-bottom: 20px;
        }
        
        #proyectos{
            margin-left: 15px;
            margin-right: 15px;
            padding-bottom: 20px;
        }
        
        #contacto{
            margin-left: 15px;
            padding-bottom: 20px;
        }
        
        
        a,a:hover,p{
        
            color:#F1F6F9;
         
        }
        #nombre{
            font-size: 40px;
            margin-left: 220px;
            margin-top: -445px;
        
         }
         #profesion{
            margin-left: 220px;
            margin-top: -50px;
         }
        #logo
        {
            width: 480px;
            height: 480px;
            margin-left: -20px;
            margin-top: 30px;
        }
        h1{
            color:#F1F6F9;
            margin-left: 180px;
            margin-top: 110px;
            font-size: 62px;
            position: relative;
        }
        #sobremi{
            color:#F1F6F9;
            margin-top: 70px;
            margin-left: 180px;
            margin-right: 170px;
            font-size: 18px;
        }
        
        #botoncito{
            color: #F1F6F9;
            background-color: #9BA4B4;
            margin-top: 70px;
            margin-left: 180px;
            font-size: 18px;
            border-radius: 10px;
            box-shadow: 2px 2px 10px #14274ed7;
            width: 200px;
            height: 50px;
        }
        #botoncito a:hover{
            text-decoration: none;
        }
  
        
        #titulo{
            margin-left: 180px;
            margin-top: 73px;
        }
        #lista {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 125px;
        }
        #lista a {
            margin-left: 82px;
            margin-right: 82px;
            height:225px;
            width:310px;
        
        }
        
        #lista #mipagina img, #lista #bootstrap img{  
            height:225px;
            width:310px;
            border: 3px #f1f6f971 solid;
            border-radius: 7px;
            }
         
        #lista p{
            color: #9BA4B4;
        }
        #lista a:hover{
            text-decoration: none;
        
        }
        #lista a #continuara{
            height:225px;
            width:310px;

        }
        #lista #continuara img{
            height:65px;
            width:65px;
            margin-top: 75px;
        
        }
        #lista #continuara p{
            margin-top: 82px;
        
        }
        #formulario{
            margin-top: 0px;
            margin-left: 165px;
        }
        .form-control {

            width: 59%;
        }
  
        #botonFormulario{
            float: right;
            margin-right: 455px;
            width: 180px;
            height: 42px;
        } 
        #textoArea{
            width: 655px;
            height: 100px;
         }
         .icons{
             width: 140px;
             height: 140px;
             margin-left: 1010px;
             margin-top: -80px;

         }
         ul{
             list-style: none;
         }

}